*{
    padding-left: 5px;
    padding-right: 5px;
}
.mb-3{
    width: 69.5vw;
    
}
.container-fluid{
    height: 100vh;
}
#resultado{
    width: 30vh;
}
body {
    background: linear-gradient(to right, #0F293C, #39BBDE); 
    color: white;
  }
::placeholder {
    font-size: 14px;
}

#inputTitulo{
    width: 69vw;
}

.card-text{
    min-height: 10vh;
}

.custom-button{
    color: black;
    border-color: black;
}

.card {
    transition: transform 0.2s ease-in-out;
  }
  
.card:hover {
    transform: scale(1.05);
    background-color: rgb(39, 126, 149);
    color: white;
  }

.custom-shadow{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}
